.animeContainer {
  width: 100%;
  height: fit-content;
  padding: 10px 0;
  color: #c9d1d9;
  margin-top: 46px;
  padding: 0 10px;
}
.warning {
  color: rgb(114, 116, 0);
  gap: 10px;
  width: fit-content;
  display: flex;
  background-color: rgb(236, 240, 0);
  padding: 10px;
  font-weight: 400;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.icons {
  max-width: 15px;
  min-width: 15px;
  max-height: 15px;
  min-height: 15px;
}
.pointer {
  cursor: pointer;
}
.warningText {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
}
