.image {
  pointer-events: none;
}
.imageContainer {
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
.container {
  min-width: auto;
  max-width: auto;
  min-height: auto;
  max-height: auto;
  background: rgb(44, 44, 44);
}
.title {
  margin: 5px;
  min-width: 150px;
  max-width: 150px;
  color: rgb(202, 202, 202);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@media (min-width: 600px) {
  .title {
    min-width: 200px;
    max-width: 200px;
  }
}
