.characterContainer {
  padding: 10px;
  height: fit-content;
  flex: 1;
}
.section1 {
  height: 100%;
  justify-content: center;
  display: flex;
}

.basicInfo {
  word-break: break-word;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}
.name {
  padding: 10px;
  font-family: sans-serif;
}

.about {
  text-align: start;
  padding: 10px;
  font-family: sans-serif;
}
.about::first-letter {
  margin-left: 5%;
}
.kanji {
  font-weight: 500;
  margin-left: 5px;
}
.kanji_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pictures_list {
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  gap: 1em;
}
.pictures_list::-webkit-scrollbar {
  height: 10px;
}
.pictures_list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(218, 216, 216);
}
.pictures_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.Picture_titles {
  padding: 0 10px;
  justify-self: center;
}
.image_container {
  display: flex;
  transition: 0.3s;
  background-color: #949494;
  position: relative;
  overflow: hidden;
  width: 225px;
  min-width: 225px;
  max-width: 225px;
  height: 350px;
  background-size: 100% 100%;
  border: 1px solid #000;
  background-repeat: no-repeat;
}
.download_image {
  display: flex;
  gap: 1em;
  transition: 0.3s;
  font-size: 0.8em;
  cursor: pointer;
  opacity: 0;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  margin: auto;
  right: 0;
  left: 0;
  background-color: rgb(20, 21, 26);
  color: #fff;
  padding: 10px;
  align-items: center;
  width: fit-content;
}
.image_container:hover .download_image {
  opacity: 1;
}
.image_container:hover {
  background-blend-mode: darken;
}
.voiceActor_container {
  margin-top: 1em;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.voice_actor_titles {
  align-self: flex-start;
  justify-self: flex-start;
}
.voiceActor {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  max-height: fit-content;
  min-width: 225px;
  max-width: 225px;
}
.voiceActor > img {
  border: 1px solid #000;
}
.voice_actor_list {
  width: 100%;
  display: flex;
  gap: 1em;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 0.7em;
}
.voice_actor_list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(218, 216, 216);
}

@media (max-width: 381px) {
  .image_container {
    max-height: 400px;
    min-height: 400px;
    width: 100%;
  }
  .pictures {
    width: 100%;
    height: 100%;
  }
  .download_image {
    width: 80%;
    justify-content: center;
  }
}
