.footer {
  font-size: 2em;
  display: flex;
  justify-content: center;
  gap: 0.4em;
  margin-bottom: 0.6em;
  align-items: center;
}
.footer::before {
  content: "";
  flex: 1;
  display: block;
  background-color: rgb(0, 0, 0);
  height: 1px;
}
.footer::after {
  content: "";
  flex: 1;
  display: block;
  background-color: rgb(0, 0, 0);
  height: 1px;
}
