/* greetings */
.greetings_container {
  display: flex;
  overflow: hidden;
  align-items: center;
  color: rgb(255, 255, 255);
  height: fit-content;
  max-height: 100vh;
  position: relative;
}

.greeting_left_right {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #1c1f23c2 1px, #00000000 20%);
}
.greeting_bottom_top {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #1c1f23c2 2%, #00000000 20%);
}
.videotrailer {
  height: fit-content;
  width: 100%;
  position: relative;
}

.greeting_right_left {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, #1c1f23c2 1px, #0e070700 40%);
}
.greeting_top_bottom {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #1c1f23c2 1px, #00000000 40%);
}

.greetings_container_letters {
  z-index: 2;
  margin: 0;
  width: 100%;
  padding: 2em;
  position: relative;
}
.stroke {
  -webkit-text-stroke: 0.2px;
  -webkit-text-stroke-color: rgb(32, 32, 32);
  font-family: sans-serif;
}
/* keyframes  */
@keyframes falling-star-before {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    top: 100%;
    left: 0%;
  }
}

@media screen and (min-width: 620px) {
  .greetings-container-letters {
    margin: auto;
    z-index: 2;
    width: 60%;
    padding: 1em;
    position: relative;
  }
}
