.navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  margin-bottom: 5em;
}
.previouspage,
.nextpage {
  color: #249cff;
  background: rgb(53, 53, 53);
  padding: 0.2em 0.7em;
  outline: none;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
}
.imageCharac {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  flex-wrap: wrap;
}
.imageSearchDiv {
  background-color: rgb(22, 78, 245);
  width: fit-content;
  padding: 5px;
  min-width: 30px;
  cursor: pointer;
}
.inputType {
  outline: none;
  font-size: 100%;
  padding-left: 10px;
}
.SearcherDiv {
  display: flex;
  height: 33px;
}
.character {
  max-width: 280px;
  flex-basis: 100%;
}
.imageTitleNav {
  min-width: 20px !important;
}
.itemLogo {
  word-spacing: -15px;
  transform: rotate(-15deg);
}
