/*  navbar  */
.navbar {
  border-bottom: 1px solid rgb(190, 190, 190);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  cursor: pointer;
  font-family: "Autour One", cursive;
  color: #dd9700;
  font-size: 2em;
  display: flex;
  height: fit-content;
  justify-content: center;
  width: fit-content;
  position: relative;
}
.logo::after {
  content: "";
  position: absolute;
  bottom: 25%;
  width: 100%;
  border-radius: 20px;
  height: 2px;
  background-color: #dd9700;
}
.containerSearch-2 {
  display: flex;
  background-color: #dfdfdf;
  position: relative;
  width: 80%;
  margin: 0 0 0 auto;
}
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.magni {
  width: 20px;
  height: 100%;
  color: #133697;
}
.magniDropDown {
  min-width: 20px;
  margin-left: 0.3em;
  height: fit-content;
  margin-right: 0.3em;
  height: 100%;
  color: #0d4dad;
  align-self: flex-start;
}
.container-search {
  background-color: #ffffff;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  top: 100%;
  width: 100%;
  height: fit-content;
  z-index: 3;
}
.searchBox {
  width: 100%;
  padding: 0.5em;
  font-family: "Fredoka", sans-serif;
  border-radius: 3px;
  font-weight: lighter;
  outline: none;
  background-color: #dfdfdf;
  color: #4d4d4d;
  border: none;
}
.searchBox::placeholder {
  color: #4d4d4d;
  text-transform: capitalize;
}
.parent {
  min-height: 100vh;
}
.dropDrop {
  position: absolute;
  font-size: 1em;
  top: 100%;
  bottom: 0;
  min-width: 250px;
  max-width: 300px;
  overflow: auto;
  height: fit-content;
  right: 0;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  word-wrap: break-word;
  z-index: 2;
}

.optionCategory {
  text-transform: capitalize;
  background-color: transparent;
  color: #4d4d4d;
  outline: none;
  height: min-content;
  border: none;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.logins-signups {
  gap: 1em;
}
.login {
  margin-right: 7px;
  border: none;
  color: #0d4dad;
  font-size: 1em;
}
.sign-up {
  color: #0d4dad;
  font-size: 1em;
  border: none;
}

.bar {
  width: 20px;
  height: 100%;
  color: #133697;
  margin: 0 7px;
}
.card-bar {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 1em;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.card-bar:last-child {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 1em;
  margin-bottom: 0px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.card-bar-image {
  min-width: 100px;
  min-height: 100px;
}
