/*  navbar  */
.navbar {
  margin: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0.5em;
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  min-height: 46px;
}
.logo {
  cursor: pointer;
  font-family: sans-serif;
  color: #e4e6eb;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  position: relative;
}
.logoMain {
  width: fit-content;
  position: relative;
  height: fit-content;
  font-family: "fredoka";
  font-weight: 500;
}
.logoMain::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #cacaca;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
}
.containerSearch-2 {
  display: flex;
  background-color: transparent;
  position: relative;
  width: 100%;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  max-width: 300px;
  margin: 0 0 0 auto;
}
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.magni {
  cursor: pointer;
  margin-left: 5px;
  width: 20px;
  height: 100%;
  color: #ffffff;
}
.magniDropDown {
  min-width: 20px;
  margin-left: 0.3em;
  height: fit-content;
  margin-right: 0.3em;
  height: 100%;
  color: #0d4dad;
  align-self: flex-start;
}
.container-search {
  background-color: #e0e0e0;
  position: absolute;
  padding: 1em 0;
  left: 0;
  bottom: 0;
  top: 100%;
  overflow: hidden;
  border-radius: 30px;
  border-top: 1px solid #000;
  width: 100%;
  height: fit-content;
  z-index: 3;
}

.searchBox {
  width: 100%;
  padding: 0.5em;
  font-family: "fredoka";
  border-radius: 3px;
  font-weight: lighter;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
  color: #2c2c2c;
  border: none;
}

.optionCategory {
  font-weight: 400;
  font-family: "fredoka";
  text-transform: capitalize;
  background-color: transparent;
  color: #2c2c2c;
  background-color: transparent;
  display: flex;
  align-items: center;
  outline: none;
  height: min-content;
  border: none;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.skeleton-1 {
  max-width: 100px;
  min-width: 100px;
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 6px;
}
.skeleton-2 {
  max-width: 320px;
  min-width: 100px;
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 6px;
}
.skeleton-3 {
  max-width: 100px;
  min-width: 100px;
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 6px;
}

.logins-signups {
  display: flex;
  background-color: transparent;
  max-width: fit-content;
  min-width: fit-content;
}
.login {
  text-transform: capitalize;
  background-color: transparent;
  margin-right: 7px;
  /* font-family: "fredoka"; */
  border: none;
  color: #e4e6eb;
  font-weight: 600;
  font-size: 0.8em;
  cursor: pointer;
  min-width: fit-content;
}
.sign-up {
  /* font-family: "fredoka"; */
  text-transform: capitalize;
  font-weight: 600;
  background-color: transparent;
  color: #e4e6eb;
  cursor: pointer;
  font-size: 0.8em;
  border: none;
  min-width: fit-content;
}

.bar {
  width: 20px;
  height: 100%;
  cursor: pointer;
  color: #e4e6eb;
  margin: 0 7px;
}
.dropDrop {
  position: absolute;
  font-size: 1em;
  top: 100%;
  bottom: 0;
  min-width: 250px;
  max-width: 300px;
  overflow: auto;
  height: fit-content;
  max-height: 250px;
  right: 0;
  font-weight: 400;
  background-color: #222222;
  word-wrap: break-word;
  z-index: 2;
  border-radius: 0 3px 3px 3px;
}

.card-bar {
  padding: 6px;
  cursor: pointer;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  gap: 1em;
  margin-bottom: 10px;
}
.name {
  color: #ffffff;
}
.card-bar:hover {
  background-color: #525252;
}
.card-bar:last-child {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 1em;
  margin-bottom: 0;
}
.card-bar-image {
  min-width: 40px;
  min-height: 60px;
}
@media (min-width: 641px) {
  .container-search {
    position: static;
    padding: 0;
    border: none;
  }
  .search-icon {
    gap: 2em;
  }
  .dropDrop {
    right: 10px;
  }
}
