/*  navbar  */
.navbar {
  background-color: #ffffff;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgb(190, 190, 190);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0.5em;
  position: sticky;
  top: 0;
  z-index: 3;
  min-height: 46px;
}
.logo {
  cursor: pointer;
  font-family: sans-serif;
  color: #026077;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  position: relative;
}
.logoMain {
  width: fit-content;
  position: relative;
  height: fit-content;
  font-family: "fredoka";
  font-weight: 600;
}
.logoMain::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #026077;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
}
.containerSearch-2 {
  display: flex;
  background-color: #dfdfdf;
  position: relative;
  width: 80%;
  max-width: 300px;
  margin: 0 0 0 auto;
}
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.magni {
  cursor: pointer;
  margin-left: 5px;
  width: 20px;
  height: 100%;
  color: #133697;
}
.magniDropDown {
  min-width: 20px;
  margin-left: 0.3em;
  height: fit-content;
  margin-right: 0.3em;
  height: 100%;
  color: #0d4dad;
  align-self: flex-start;
}
.container-search {
  background-color: #ffffff;
  padding: 1em 0;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 100%;
  border-top: 1px solid #000;
  width: 100%;
  height: fit-content;
  z-index: 3;
}

.searchBox {
  width: 100%;
  padding: 0.5em;
  font-family: "fredoka";
  border-radius: 3px;
  font-weight: lighter;
  outline: none;
  background-color: #dfdfdf;
  color: #4d4d4d;
  border: none;
}
.searchBox::placeholder {
  color: #4d4d4d;
  text-transform: capitalize;
}
.optionCategory {
  font-weight: 600;
  font-family: "fredoka";
  text-transform: capitalize;
  background-color: transparent;
  color: #4d4d4d;
  outline: none;
  height: min-content;
  border: none;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.skeleton-1 {
  max-width: 100px;
  min-width: 100px;
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 6px;
}
.skeleton-2 {
  max-width: 320px;
  min-width: 100px;
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 6px;
}
.skeleton-3 {
  max-width: 100px;
  min-width: 100px;
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 6px;
}

.logins-signups {
  display: flex;
  background-color: transparent;
  gap: 1em;
}
.login {
  text-transform: capitalize;
  background-color: transparent;
  margin-right: 7px;
  /* font-family: "fredoka"; */
  border: none;
  color: #0d4dad;
  font-weight: 600;
  font-size: 1em;
  min-width: fit-content;
}
.sign-up {
  /* font-family: "fredoka"; */
  text-transform: capitalize;
  font-weight: 600;
  background-color: transparent;
  color: #0d4dad;
  font-size: 1em;
  border: none;
  min-width: fit-content;
}

.bar {
  width: 20px;
  height: 100%;
  cursor: pointer;
  color: #133697;
  margin: 0 7px;
}
.dropDrop {
  position: absolute;
  font-size: 1em;
  top: 100%;
  bottom: 0;
  min-width: 250px;
  max-width: 300px;
  overflow: auto;
  height: fit-content;
  max-height: 250px;
  right: 0;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  word-wrap: break-word;
  z-index: 2;
}

.card-bar {
  padding: 6px;
  cursor: pointer;
  font-weight: 300;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  gap: 1em;
  margin-bottom: 10px;
}
.card-bar:hover {
  background-color: #d6d6d6;
}
.card-bar:last-child {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 1em;
  margin-bottom: 10px;
}
.card-bar-image {
  min-width: 40px;
  min-height: 60px;
}
@media (min-width: 641px) {
  .container-search {
    position: static;
    padding: 0;
    border: none;
  }
  .search-icon {
    gap: 2em;
  }
}
