.Recommendation_container {
  justify-content: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.Recommendation_list {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  overflow-y: hidden;
  overflow-x: hidden;
  grid-gap: 1em;
  gap: 1em;
  flex: 1 1;
  padding-bottom: 10px;
}
.titles {
  font-weight: 300;
  color: #e4e6eb;
  font-family: "Open Sans", sans-serif;
  z-index: 5;
}
.AngleRight {
  position: sticky;
  cursor: pointer;
  background-color: rgba(34, 34, 34, 0.849);
  display: flex;
  min-width: 100px;
  max-width: 100px;
  justify-content: center;
  align-items: center;
  color: #e4e6eb;
  font-size: larger;
  right: 0;
  top: 0;
  z-index: 2;
}
.images {
  pointer-events: none;
}
.sizeCard {
  min-width: 75px;
  min-height: 100px;
  position: relative;
}

@media (min-width:600px) {
  .sizeCard {
    min-width: 150px;
    min-height: 175px;
  }
}
@media (min-width:1000px) {
  .sizeCard {
    min-width: 200px;
    min-height: 225px;
  }
}